* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Inter';
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 1040px;
}

body > main{
    /* main */
    box-sizing: border-box;
    position: relative;
    border: 1px solid #737272;
    width: 100%
}

button {
    text-decoration: none;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: 0.2s all;    
}

button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}