main > section {
    /* section */
    position: relative;
    width: 800px;
    height: 400px;
    margin: 215px auto;
}
main > section > h2 {
    /* 회원가입 */
    position: relative;
    font-weight: 700;
    font-size: calc(24em/14);
    color: #804C4C;
    text-align: center;
    margin-bottom: 60px;
}
main > section > form {
    position: relative;
    width: 100%;
    height: 310px;
}
main > section > form > article > ul {
    /* 회원 가입 항목 리스트 */
    list-style: none;
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 60px;
}
main > section > form > article > ul > li {
    position: relative;
    width: 100%;
    margin-bottom: 26px;
}
/*main > section > form > article > ul > li div {*/
/*  width: 650px;*/
/*  float: bottom;*/
/*  margin-left: 150px;*/
/*}*/
/*main > section > form > article > ul > li div {*/
/*  color: #8E8E95;*/
/*}*/

main > section > form > article > ul > li:nth-child(3) div {
    color: #ED7474;
}
main > section > form > article > ul > li > label {
    /* 아이디 찾기 label */
    float: left;
    position: relative;
    width: 140px;
    line-height: 50px;
    font-weight: 700;
    font-size: calc(16em/14);
    color: #804C4C;
}
main > section > form > article > ul > li:nth-child(2) > input{
    /* 아이디 찾기 정보 입력창 : 이메일 */
    box-sizing: border-box;
    padding: 10px 14px;
    width: 520px;
    height: 50px;
    border: 1px solid #737272;
    border-radius: 4px;
    color: #323238;
    outline: none;

}
main > section > form > article > ul button {
    /* 중복 확인 버튼 */
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 120px;
    height: 50px;
    border: 1px solid #804C4C;
    border-radius: 4px;
    float: right;
}

main > section > form > article > ul button > h3 {
    /* 인증번호 받기 */
    font-weight: 500;
    font-size: calc(16em/14);
    color: #804C4C;
}

main > section > form > article > ul > li:nth-child(1) > input,
main > section > form > article > ul > li:last-child > input{
    /* 회원 가입용 정보 입력창 : 이름, 인증번호 */
    box-sizing: border-box;
    padding: 10px 14px;
    width: 660px;
    height: 50px;
    border: 1px solid #737272;
    border-radius: 4px;
    color: #323238;
    outline: none;
}

main > section > form > div {
    /* 확인 Button div */
    width: 340px;
    margin: 0 auto;
}
main > section > form > div > button {
    /* 가입하기 Button */
    width: 340px;
    height: 50px;
    background: #804C4C;
    border-radius: 4px;
    box-sizing: border-box;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}